/*************Police*************************/
@import url('https://fonts.cdnfonts.com/css/noto-sans-rejang');

/*************Variable Couleur**************/
:root {
    --clr-first: #96B6C5;
    --clr-second: #DDE6ED;
    --clr-police: #27374D;
    --clr-background: #ADC4CE;
    /*--clr-nouveau: rgba(0, 0, 0, 0.65);*/
    --container-width: 1000px;
    --container-padding: 20px;
}

/*************Barre de scroll**************/
/* Barre de défilement principale */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
    background-color: var(--clr-first); /* Couleur principale de la barre de défilement */
}

/* Poignée de la barre de défilement */
::-webkit-scrollbar-thumb {
    background-color: var(--clr-second); /* Couleur secondaire de la poignée */
    border-radius: 5px; /* Arrondi des coins de la poignée */
}

/* Piste de la barre de défilement */
::-webkit-scrollbar-track {
    background-color: var(--clr-first); /* Couleur principale de la piste */
}

/****************Animations******************/
@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
        /* Déplacer vers le bas au départ */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Revenir à la position initiale */
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        /* Déplacer vers le bas au départ */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Revenir à la position initiale */
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(150px);
        /* Déplacer vers le bas au départ */
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        /* Revenir à la position initiale */
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
        /* Déplacer vers le bas au départ */
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        /* Revenir à la position initiale */
    }
}

.animated-Bottom {
    animation: fadeInBottom 1s ease-in-out;
    /* Nom de l'animation, durée, ralentissement */
}

.animated-Top {
    animation: fadeInTop 1s ease-in-out;
    /* Nom de l'animation, durée, ralentissement */
}

.animated-Right {
    animation: fadeInRight 1s ease-in-out;
    /* Nom de l'animation, durée, ralentissement */
}

.animated-Left {
    animation: fadeInLeft 1s ease-in-out;
    /* Nom de l'animation, durée, ralentissement */
}

/**********container**************/
.container {
    width: calc(100% - var(--container-padding)*2);
    box-sizing: border-box;
    max-width: calc(var(--container-width) - var(--container-padding)*2);
    margin: 0px auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-top:1.5rem;
    margin-bottom: 1.5rem;
}

/**************souligage************/

.soulignage {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    /* Couleur du texte de base */
}

.soulignage::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    /* Ajustez la valeur pour définir l'épaisseur du soulignage */
    width: 100%;
    height: 3px;
    /* Ajustez la valeur pour définir l'épaisseur du soulignage */
    background-color: var(--clr-second);
    /* Couleur du soulignage */
    transform: scaleX(0);
    /* L'animation commence avec une largeur de 0 */
    transform-origin: center;
    transition: transform 0.3s ease;
    /* La transition crée l'effet d'animation */
}

/* Animation du soulignage au survol */
.soulignage:hover::after {
    transform: scaleX(1);
    /* Le soulignage s'élargit jusqu'à la largeur du texte */
}

/********header*******************/

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Noto Sans Rejang', arial;
    background: var(--clr-background);
    color: var(--clr-police);
    height: 100%;
}

header, section{
    height: 100%;
    width: 100%;
}

h1{
    font-size: 50px;
    padding: 50px;
    margin-bottom: 50px;
    margin-top: 100px;
    font-weight: 100%;
}

h2{
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
}

nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content : space-evenly;
    align-items: center;
    padding: 15px 25px;
    
}

.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.nav-icon span {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: var(--clr-police);
    transition: all 0.3s ease-in-out;
}

.nav-icon span:hover {
    letter-spacing: 1px;
}

.nav-icon img {
    width: 40px;
    transform: rotate(-17deg) translateX(5px);
}

.hamburger {
    display: none;

}

.navlinks-container a {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color:  var(--clr-police);
    position: relative;
}

.nav-authentication {
    margin-left: auto;
}

.sign-btns button {
    font-family: Roboto Flex, sans-serif;
    font-size: 16px;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.sign-btns button:nth-child(2) {
    border: none;
}

.user-toggler {
    display: none;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.svg-tall{
    width: 600px;
    height: 600px; 
    margin: 10px;
}

.svg-small{
    width: 400px;
    height: 400px; 
    margin: 10px;
}

/*animation scroll*/
.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease-in-out;

}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

#sectionPresentation {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
}

#CV::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-second);
    border-radius: 30px;
    z-index: -1;
    transition: all .5s;
}

#CV {
    width: 200px;
    height: 60px;
    font-size: 1.3rem;
    font-family: arial, sans-serif;
    font-weight: 700;
    position: relative;
    color: var(--clr-police);
    z-index: 0;
    border: 3px solid var(--clr-police);
    background: var(--clr-fond);
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 15px;
}

#CV:hover::before {
    top: 0px;
    border-radius: 0;
}
#Client-Leger{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
    transform-style: preserve-3d;*/
}

.langage{
    border: 1px solid var(--clr-second);
    background-color: var(--clr-second);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 30px;
    margin: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    /*box-shadow: 0 32px 30px var(--clr-second);*/
}

.langage:hover{
    transform: translateY(-10px);
    border-color: var(--clr-police);
    background-color: var(--clr-police);
    color: var(--clr-second);
}

.langage > img {
    width: 100px;
    height: 100px;
}

/* formation */
#formation h1{
    text-align: center;
    padding: 240px 0 10px 0;
    /*color:#f1f1f1;
    font-size: 60px;*/
}

.box-timeline{
    width: 100%;
    height: 1500%;
    position: relative;
    padding: 0 0 250px 0;
    margin-top: 80px;
}

.ligne{
    height: 1000px;
    width: 8px;
    margin: 0 auto;
    background: white;
}

.rond{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: black;
    background: white;
    position: absolute;
    
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* 1000 - 160 + 80 / 3 = 306 */
.r1{top: 80px;}
.r2{top: 386px;}
.r3{top: 692px;}
.r4{top: 1000px;}

.box{
    color: #333;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 5px;
    height: auto;
    background: whitesmoke;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1{
    top :80px;
    left: calc(50% - 270px);
}

.b2{
    top :386px;
    left: calc(50% + 270px);
}

.b3{
    top :692px;
    left: calc(50% - 270px);
}

.b4{
    top :1000px;
    left: calc(50% + 270px);
}

.box p{
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
}
.btn{
    display: block;
    background: var(--clr-police);
    padding: 10px;
    width : 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

/**** Top boutton ******/
#topButton{
    visibility: hidden;
    position: fixed;
    bottom: 1.2rem;
    right: 1.5rem;
    cursor: pointer;
    padding: 20px;
    outline: none;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: ease-in-out 0.3s;
    z-index: 100;
}

#topButton:hover{
    background-color: var(--clr-first);
}

#arrow{
    color: var(--clr-second);
    background-color: var(--clr-police);
    padding: 20px;
    border-radius: 5px;
    
    transition: all ease-in-out 0.3s;
}

#arrow:hover{

    background-color: var(--clr-first);
    border-radius: 5px;
    transform: rotate(360deg);
}

/* Entreprise  */
#style_Text_Entreprise {
    text-align: justify;
}

#style_Text_Entreprise > span{
    color: #0077b5;
}

/* Contact */
iframe{
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

#Contact{
    padding: 30px;
    border-radius: 5px;
    background-color: var(--clr-first);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#Contact input[type="submit"] {
    background-color: var(--clr-police);
    color: #fff;
    margin-bottom: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#Contact input[type="submit"]:hover {
    background-color: var(--clr-background);
}

#Contact .erreur {
    color: red;
}

#Link_Social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#Link_Social > a{
    color: var(--clr-police);
    font-size: 50px;
    margin: 10px;
}
#Link_Social > a:nth-child(1) > i{
    color: black;
/*    border-radius: 50%;
    background-color: white;*/
}
#Link_Social > a:nth-child(2) > i{
    color: #0077b5;
}

#Contact form{
    display: flexbox;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 900px) {
    nav {
        padding: 15px 20px;
        position: relative;
    }

    /* nav */
    .nav-icon {
        order: 2;
        margin: 0 auto;
    }

    .nav-icon span {
        font-size: 22px;
    }

    .main-navlinks {
        order: 1;
        width: auto;
    }

    /* hamburger */
    .hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        position: relative;
        background-color: var(--clr-background);
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: var(--clr-police);
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }

    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: var(--clr-second);
        top: 100%;
        left: 0;
        transform: translate(-100%);
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid var(--clr-second);/*ligne horizontal*/
    }

    .open {
        transform: translate(0%);
    }

    .navlinks-container a {
        font-size: 18px;
        margin: 10px 0px;
    }


    .nav-authentication {
        order: 3;
        margin-left: 0;
    }

    .sign-btns {
        display: none;
    }

    .user-toggler {
        display: block;
        cursor: pointer;
        border: none;
    }

    .user-toggler img {
        width: 20px;
    }

    .svg{
        width: 250px;
        height: 250px; 
    }

    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-items: center;
    }

    .b1{
        top :80px;
        left: calc(50%);
    }
    
    .b2{
        top :386px;
        left: calc(50%);
    }
    
    .b3{
        top :692px;
        left: calc(50%);
    }
    
    .b4{
        top :1000px;
        left: calc(50%);
    }
}

@media (max-width: 500px) {
    .nav-icon img {
        width: 30px;
    }

    .nav-icon span {
        font-size: 20px;
    }
}
