@import url(style.css);

h1 {
    margin-top: 20px;
}

h2 {
    margin-top: 10vh;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    padding: 5px;
    max-width: 900px;
}

p{
    text-align: justify;
}

ul{
    padding: 10px 30px;
}

@media screen and (max-width: 1020px) {
    img {
        max-width: 500px;
    }
}

@media screen and (max-width: 700px) {
    img {
        max-width: 300px;
    }
}
